* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:
    'Pretendard Variable',
    -apple-system,
    sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}

/* =======reset ======= */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

strong {
  font-weight: 700;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =======reset ======= */

body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 스크롤바 */
pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

:is(div, section, article, main, aside, nav)::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

:is(div, section, article, main, aside, nav):hover::-webkit-scrollbar {
  display: block;
}

:is(div, section, article, main, aside, nav):hover::-webkit-scrollbar-thumb {
  background: #c2c4c8;
}

:is(div, section, article, main, aside, nav)::-webkit-scrollbar-thumb:hover {
  background: #989ba2;
}

:is(div, section, article, main, aside, nav)::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 999px;
}

:is(div, section, article, main, aside, nav)::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 999px;
  width: 2px;
  height: 2px;
}
/* 스크롤바 */
